
.footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-self: center;
}
.link {
    margin:5px;    
    padding: 5px 10px;
    line-height: 12px;
    background-color:var(--background-item-link);
    height: 22px;
}

.link:hover {
    background-color: var(--background-item-hover);
}

.link.selected {
    background-color:  var(--background-item-selected);
}

img {
    height:20px;
    width:20px;
    vertical-align: middle;
}

span {
    color:white;
    font-size: 12px;
    vertical-align: middle;
    margin-right:5px;
}
