.footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-self: center;
}
.link {
    margin:5px;    
    padding: 5px 10px;
    line-height: 12px;
    background-color: #4b5261;
    height: 22px;
}

.link:hover {
    background-color: #7c825e;
}

.link.selected {
    background-color: #599fa2;
}

img {
    height:20px;
    width:20px;
    vertical-align: middle;
}

span {
    color:white;
    font-size: 12px;
    vertical-align: middle;
    margin-right:5px;
}
