.locations {
  display: flex;
  justify-content: space-between;   
}

.location-list {
  width:50%;
}

.location-details {
  width:100%;
}

#map {
  display: block;
  width: 50%;
  height: 50%;
}

.inputs input{
  position: relative;
  display: block;
}
