:root {
    --background-main:#282c34;
    --background-item-link:#4b5261;
    --background-item-hover:#7c825e;
    --background-item-selected:#599fa2;
}
.App {
  text-align: center;
  background-color: var(--background-main);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px 70px auto 70px;
  font-size: 18px;
  color: white;
}

header {
  align-self: center;
}